@font-face {
    font-family: 'title';
    src: url('fonte/dosis.bold.ttf');
}
@font-face {
    font-family: 'corpo';
    src: url('fonte/ubuntu.mono-bold.ttf');
}

html {
    background-image: url('imagens/bg.gif');
    background-size: 100%;
    background-attachment: fixed;
    color: white;
}

/* Header do Site */
.header {
    margin-left: 5%;
    margin-right: 5%;
}
.title {
    font-family: 'title';
}

#icon {
    margin-top: -20px;
    margin-left: -30px;
    margin-right: -15px;
    float: left;
    width: 140px;
}

#titulo {
    margin-top: -8px;
    font-size: 50px;
}
#subtitle {
    margin-left: 9%;
    margin-top: -3%;
}

/* Corpo do site */
.container {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: row wrap;
}

/* conteúdo do site, scroll*/

h3 {
    margin-top: -2%;
}
#content {
    font-family: 'corpo';
    margin-top: 25px;
    width: 75%;
    display: flex;
    flex-flow: row wrap;
}
.retrato {
    width: auto;
    height: auto;
}
.curric {
    margin-left: 7px;
    border: 2px solid white;
    background-color: #212429;
    border-radius: 8px;
    text-align: center;
    width: 48%;
}

.time {
    margin-top: -4%;
    margin-bottom: 10%;
}
.infos {
    margin-top: -4%;
}
.saiba {
    font-size:25px;
    padding: 10px;
}
.insta {
    font-size: 30px;
    padding: 10px;
    border-left: 2px solid white;
}
.insta:hover {
    transition-duration: 0.9s;
    color:violet;
}
.face {
    font-size: 30px;
    padding: 10px;

}
.face:hover {
    transition-duration: 0.9s;
    color:royalblue;
}

/*Conteúdo do site em blocos/tabelas laterais*/
#linecontent1 {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1.5%;
    padding-left: 1%;
    width: 97%;
    border: 2px solid white;
    border-radius: 8px;
}

#linecontent2 {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1.5%;
    padding-left: 1%;
    width: 97%;
    border: 2px solid white;
    border-radius: 8px;

}

/*Personalização da Tabela*/

table {
    margin-bottom: 10px;
}
th {
    background-color: #212429;
}
#tipos {
    border: 1px solid #DAA520;
    width: 477px;
}
#preços {
    border: 1px solid #DAA520;
    width: 300px;
}
.tipos {
    padding: 10px;
    width: 477px;
}

.preços{
    padding: 10px;
    width: 300px;
}
.claro {
    background-color: #687180;
}
.escuro {
    background-color: #212429;
}
.h2table {
    margin-top: -2%;
}

/*Lateral com botões, fixa */
#lateralitens {
    position: fixed;
    right: 4.2%;
    top: 57%;
    width: 24%;
}
button {
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #212429;
    color: white;
    font-size: 15px;
    width: 95%;
    padding: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #687180;
    transition-duration: 0.9s;
}
#home {
    border: 2px solid #DAA520;
}

a {
    text-decoration: none;
    color: white;
}
/* Estilização do rodapé*/

footer {
    font-family: 'corpo';
    margin-top: 18%;
}

.afooter {
    margin-left: 0px;
    font-size: 18px;
}
.membros-time {
    text-align: center;
}

section {
    display: flex;
    align-items: center;
}

.redes {
    width: 100%;
}
li {
    list-style: none;
}

.redes ul li span {
    padding: 10px;
    position: relative;
    bottom: 10px;
}

.instagram-ico {
    max-width: 30px;
    margin-left: 2%;
   
}

.footertext {
    text-align: center;
    border: 2px solid white;
    margin-left: 5%;
    margin-right: 5%;
}

span {
    color: #DAA520;
}

.logo {
    margin-left: 5%;
    max-width: 20%;
    margin-bottom: 2%;
}

.texto {
    text-align: center;
}

footer p {
    text-align: center;
    border: 2px solid #DAA520;
    margin: 0 5%;
    color: #DAA520;
    padding: 0.5%;
}





